video-captures/Screen[[:space:]]Recording[[:space:]]2022-01-14[[:space:]]at[[:space:]]5.45.51[[:space:]]PM.mov filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
video-captures filter=lfs diff=lfs merge=lfs -text
