.App {
  font-family: sans-serif;
}

.videoWrapper {
  height: 900px;
}

.div-with-hole {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 4;
  background: radial-gradient(circle at center, transparent 48%, black 50%);
  background-size: 100% 100%;
  background-position: 50% 50%;
  /* transition: all 2s ease; */
}
